.container {
    width: 100%;
}

.row {
    width: 80%;
    margin: 0 auto;
}
.row2 {
    background-color: #ffa;
}

.navbar {
    display: flex;
    justify-content:space-between;
    font-size: 23px;
    color: grey;
    padding:30px 10px ;
    border-bottom: 1px solid rgb(54, 54, 54);
}

.navLogo {
    /* 控制文字大小写（文字，变化，大写） */
    text-transform: uppercase;
}

.navselector {
    display: flex;
    justify-content: space-evenly;
}

.navselector li {
    margin-right: 15px;
}