a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: pink;
    padding-bottom: 3px;
    border-bottom: 2px solid pink;
}

.container {
    width: 100%;
    margin:20px 0;
}

.row{
    width: 80%;
    margin: 0 auto;
}

.row nav{
 display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
        border-bottom: 1px solid #A7A7A7;
          padding-bottom: 15px;
}

nav ul {
    display: flex;

}
nav ul li {
    padding: 10px;
}

nav h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;
}

/**********************************/

#section1 ul{
    display: flex;
    text-transform: uppercase;
    margin-top: 15px;
}

/***************************************/

#allContent {
    display: flex;
    justify-content: center;
        margin-top: 15px;   
        padding-bottom:50px;
        border-bottom: 1px solid #A7A7A7;
}

.bigscreen{
    background-image: url(../img/d2874e086ce5f79fbce571f4689ff17c.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
    height: 50vh; /* view width 現在看到熒幕的寬 == 50%*/
     /* view height 現在看到熒幕的高 == 50%*/
    margin-bottom: 15px;
}

#imagedisplay {

    margin-right: 30px;
}

#imagedisplay ul{
    display: flex;
    justify-content: center;
}

#imagedisplay ul li {
    width: 12.8vw;
    height: 22vh;
    object-fit: fill;
    overflow-y: hidden;
}

.middlemargin{
    margin: 0 15px;
}

img{
    width: 100%;
}

/***********************************/

#content {
    width: 50vw;
    /* % === 最大的div（階梯等級）有固定大小才可以使用*/
    /*如果 #allContent 有 2000px */
    /*那 我在content 下 使用 80% 的話，就等於*/
    /* allContent 的 80%  === 2000px 的 80%*/
    /*如果 allContent 沒有 高寬， 那 80%就等於 ？（沒有值） */
}

.contentTitle h4, .contentTitle p {
    font-size: 50px;
}

.contentTitle h4 {
    margin-bottom: 15px;
}

.contentTitle {
    padding: 6vh 0;
    border-bottom: 1px solid #A7A7A7;
}

.contentbox p {
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.contentbox {
    margin-top: 30px;
}

.contentBtn {
    font-size: 20px;
    color: white;
    background-color: chocolate;
    font-weight: 700;
    padding: 20px 45px;
    border: none;
    margin-top: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.contentBtn:hover {
    background-color:crimson;
}

/*****************************/

#finaldone h4 {
    font-size: 30px;
    margin: 50px 0;
}

.finalimg img{
    width: 25vw;
    height: 30vh;
    object-fit: cover;
}

.finalimg h5 {
    margin: 10px 0;
    font-size: 25px;
}

.finalimg p {
    font-size: 18px;
    color: #A7A7A7;
}

.finalimg {
    display: flex;
    justify-content: space-around;
}

/***************************************/

#footer {
    margin: 80px 0;
    display: flex;
    justify-content: center;
} 

#footer p {
    font-size: 20px;
    color: #A7A7A7;
}