.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav{
    width: 30%;
    background-color: #fffae7;
    display: flex;
    justify-content: center;
    margin-right:10px ;
}
.nav .row img {
    padding-top: 20px;
}
.Content{
    width: 70%;
    margin: 25px 50px;
    text-decoration: underline rgb(176, 176, 176);
}
.leftword-box{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 100px;
}

.nav .row .leftword-box ul li  {
    padding: 15px;
    font-size: 30px;
}

.leftword-box ul li a {
    text-decoration: none;
    color: rgb(251, 86, 86);
}

.leftword-box ul li a:hover {
    color: rgb(45, 168, 45);
}

.Content h3{
    color: rgb(251, 86, 86);
    font-size: 25px;
}

.Content p {
    font-size: 18px;
    padding: 20px 0;
    letter-spacing: 1px;
    line-height: 25px;
}

.imgrow {
    display: flex;
    justify-content: center;
}
.imgrow img {
    width: 33%;
    margin-right: 10px;
    margin-bottom: 10px;
}

